html {
  font-size: 14px;
  /* position: relative; */
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: 'Tiny5', sans-serif;
  background-color: #533747;
  color: #F5F5F5;
}

.card {
  background-color: #533747;
  border: #6A6B83 solid 6px;
  border-radius: 0;
}

.h2, .h2:hover {
  color: #86BBBD;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}

.input-field, input {
  background: #533747;
  border: 0;
  color: #F5F5F5;
}

.input-field:focus {
  border: 0;
}