@page "/edit/{id:int}"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid align-items-center">
        <a class="h2 ms-2 pixel-text" href="/">MY GAMES LIST</a>
        <a href="addgame" class="btn btn-outline-success my-2" >Add</a>
    </div>
</nav>

<div class="container">
    <h4>Edit your game</h4>
    <div class="row">
        <div class="card col-5 me-5" style="height: 70vh;">
            <div class="card-body">
                <div class="row my-3">
                    <div class="col-3">
                        Game Title
                    </div>
                    <div class="col-9">
                        <InputText @bind-Value="editedGame.Title" class="w-100 input-field" />
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-3">
                        Release date:
                    </div>
                    <div class="col-9">
                        <InputDate @bind-Value="editedGame.ReleaseTime" class="w-100 input-field border-0" />
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-3">
                        Playing since:
                    </div>
                    <div class="col-9">
                        <InputDate @bind-Value="editedGame.PlayingSinceTime" class="w-100 input-field border-0" />
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-3">
                        Desc:
                    </div>
                    <div class="col-9">
                        <InputTextArea @bind-Value="editedGame.Description" class="w-100 input-field" style="resize: none; height: 100px" />
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-3">
                        Rating:
                    </div>
                    <div class="col-9">
                        <InputNumber @bind-Value="editedGame.Rating" class="w-100 input-field" />    
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-3">
                        Tags:
                    </div>
                    <div class="col-9 align-items-start d-flex">
                        <span class="d-block col-10 h-100" >
                            @for (int i = 0; i < editedGame.Tags.Count; i++)
                            {
                                @editedGame.Tags[i]@(i < editedGame.Tags.Count - 1 ? ", " : "")
                            }
                        </span>
                    </div>
                </div>
            </div>
            <button class="btn btn-outline-primary" @onclick="SaveGame">Save Changes</button>
        </div>
        <div class="col">
            <div class="card" style="width: calc(200px + 8rem); height: calc(200px + 6rem);">
                <div class="row my-3 px-3">
                        <div class="col-4">
                            Image URL:
                        </div>
                        <div class="col-8">
                            <InputText @bind-Value="editedGame.ImageUri" class="w-100 input-field" />
                        </div>
                </div>
                @if(false)
                {

                }
                else
                {
                    <span class="align-self-center h6">Enter a valid photo URL</span>
                }
            </div>
            <div class="card mt-5" style="width: calc(160px + 5rem);">
                <div class="card-title m-1">Choose your tags:</div>
                @foreach(var tag in tags)
                {
                    <div class="justify-content-evenly">
                        <div class="dropdown-item d-flex">
                            <a class="flex-grow-1 dropdown-item" @onclick="@(e => AddTag(@tag))">@tag</a> 
                            @if(editedGame.Tags.Contains(tag))
                            {
                                <a class="btn btn-danger" @onclick="@(e => DeleteTag(@tag))">X</a>
                            }
                        </div>
                    </div>
                }
                <input class="border-0 border-top px-3 py-2" type="text" placeholder="or add new tag..." @bind="newTag" @onkeyup="OnKeyPressed">
            </div>
        </div>

    </div>
</div>

@code {
    [Parameter] public int id { get; set; }
    GameDto editedGame = new GameDto();

    List<string> tags = new List<string>();
    List<string> originalTagList;

    string newTag;

    protected override async Task OnInitializedAsync()
    {
        editedGame = await HttpClient.GetFromJsonAsync<GameDto>($"{NavigationManager.BaseUri}api/games/{id}");
        tags = await HttpClient.GetFromJsonAsync<List<string>>(NavigationManager.BaseUri + "api/tags") ?? tags;
        originalTagList = new List<string>(tags);
    }

    public async Task SaveGame()
    {
        var response = await HttpClient.PutAsJsonAsync($"{NavigationManager.BaseUri}api/games/{id}", editedGame);
        if(response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            Console.WriteLine("hmmmm");
        }
    }

    public void AddTag(string name)
    {
        if(!editedGame.Tags.Contains(name) && name is not "")
        {
            editedGame.Tags.Add(name); 
            StateHasChanged();
            if(!tags.Contains(name))
            {
                tags.Add(name);
            }
        }
    }

    public void OnKeyPressed(KeyboardEventArgs e)
    {
        if(e.Key == "Enter")
        {
            string tempString = newTag;
            AddTag(tempString);
            newTag = "";
            StateHasChanged();
        }
    }

    public void DeleteTag(string name)
    {
        editedGame.Tags.Remove(name);
        foreach(var i in originalTagList)
        {
            Console.WriteLine(i);
        }
        if(!originalTagList.Contains(name))
        {
            Console.WriteLine("Deleting " + name);
            tags.Remove(name);
        }
    }
}