@page "/"
<h4>Helloooo</h4>


<div class="main">
    <table>
        <thead>
            <th>IMAGE</th>
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th>RELEASE DATA</th>
            <th>RATING</th>
            <th>TAGS</th>
        </thead>
    </table>
</div>