@page "/"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@using GamesList

<h4>Helloooo</h4>


<div class="main">
    
</div>

@code {
    List<GameDto> Games = new List<GameDto>();
    
    public bool isEditing = false;

    protected override async Task OnInitializedAsync()
    {
        Games = await HttpClient.GetFromJsonAsync<List<GameDto>>(NavigationManager.BaseUri + "api/games") ?? Games;
    } 
}