@inherits LayoutComponentBase

<div id="app">

  @* <header class="top-bar navbar navbar-expand-sm navbar-light border-bottom mb-3">
    <NavLink href="/" class="nav-tab" Match="NavLinkMatch.All">
      <div>Games</div>
    </NavLink>
  </header> *@

  <div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
  </div>

  <footer class="border-top footer text-muted">
    <div class="container">
        Check other projects
    </div>
  </footer>

</div>